@media (max-width: 768px) {

    .data-list-view-header .add-new-data-sidebar .add-new-data,
    .data-thumb-view-header .add-new-data-sidebar .add-new-data {
        width: 97vw !important;
        max-width: 97vw !important;
    }
}

@media (min-width: 768px) {

    .data-list-view-header .add-new-data-sidebar .add-new-data,
    .data-thumb-view-header .add-new-data-sidebar .add-new-data {
        width: 75vw !important;
        max-width: 75vw !important;
    }
}